.button {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	margin: 2px 0 4px;
	border-radius: 4px;
	background: linear-gradient(to bottom, rgb(255, 153, 115) 0%, rgba(229, 91, 43, 1) 50%, rgb(255, 155, 121) 100%);
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(229, 91, 43, 1);
	box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.4);
	text-decoration: none;
	transition: box-shadow 0.2s, padding 0.2s;
}

.button:hover,
.button:active {
	box-shadow: inset -1px -1px 6px rgba(255, 255, 220, 0.4);
	color: #fff;
}

.button:active {
	padding: 5px 9px 5px 11px;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
}

a.button:visited {
	color: #fff;
}

.button.small {
	padding: 2px 5px;
}
.button.small:active {
	padding: 2px 4px 2px 6px;
}
