.th-branch {
	transition: background 0.2s, color 0.1s;
}

.th-branch:hover {
	position: relative;
	cursor: pointer;
	padding: 2px 3px;
	margin: -2px -3px;
	border-radius: 4px;
	background: #dff;
}
.th-branch:active {
	color: #a00;
}

.TaskDescription {
	overflow: visible !important;
}
