#commentForm {
	max-width : none;
}

#commentForm textarea {
	width      : 100%;
	box-sizing : border-box;
	height     : 6em;
}

.TaskContent.Comment {
	padding-right : 0;
}

.TaskContent.Comment p {
	white-space : pre-wrap;
	line-height : 1.2em;
	font-family : monospace;
	font-size   : 14px;
}

#TimebarForm {
	max-width     : none;
	padding-right : 0;
}

#TimebarForm textarea {
	width      : 100%;
	box-sizing : border-box;
	height     : 6em;
}

.th-switch {
	font-family     : verdana;
	font-size       : 9px;
	display         : inline-block;
	margin          : -3px 0 0 2px;
	vertical-align  : top;
	text-decoration : none;
}

.th-switch:hover {
	text-decoration : underline;
}

.th-ajax-progress {
	position: absolute;
	width: 16px;
	height: 16px;
	margin: 0 5px;
}

.th-ajax-result {
	position: absolute;
	/*width: 150px;*/
	margin: 0 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	background: rgba(240, 240, 240, 0.8);
	border-radius: 4px;
	border: 1px solid #555;
	padding: 5px;
	cursor: default;
}

.th-ajax-result.success {
	background: rgba(175, 240, 175, 0.80);
	border-color: #8fff9c;
}

.th-ajax-result.error {
	background: rgba(254, 202, 190, 0.80);
	border-color: #ffbaa4;
}
