* {
	font-family : Verdana;
}

body {
	font-size : 12px;
	width: 370px;
}

h1 {
	font-size : 15px;
}

h2 {
	font-size : 13px;
	margin: 12px 0 5px;
}

select {
	margin: 2px 0 5px;
}

input[type=checkbox] {
	margin: 4px 0 0;
	vertical-align: bottom;
}

.hidden {
	display: none;
}

label {
	display: block;
	margin: 2px 0;
}

div>div {
	padding-left: 15px;
}
