* {
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
}

.template {
	display: none;
}

.clear {
	clear: both;
}

h1 {
	font-size: 14px;
	border-bottom: 1px dotted #000;
}

.task {
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px dashed #000;
	background: #fff;
	cursor: move;
}

.task h3 {
	margin: 0 0 3px;
}

.task .project {
	font-size: 10px;
}

.task .estimation {
	font-size: 10px;
}

.task .cont {
	padding: 0 0 0 25px;
}

.task .left {
	float: left;
	margin-left: -24px;
}

.task.redundant {
	background: #eee;
}

.task:hover {
	background: #ffe;
}

.square {
	width: 12px;
	height: 12px;
	border: 1px solid #555;
	margin: 5px 10px 7px 5px;
}

.line {
	width: 20px;
	height: 12px;
	border-bottom: 1px solid #333;
	margin: 7px 7px 5px 2px;
}

.task.empty {
	cursor: auto;
}

.task.empty .cont {
	padding: 0 10px 0 35px;
}

.task.empty h3 .line {
	width: 100%;
	height: 19px;
	box-sizing: border-box;
	margin: 2px 0 0;
}

.task.empty .left {
	margin-left: -34px;
}
