@media print {
	body {
		background: #fff !important;
	}

	#bottlediv {
		background: #fff !important;
	}

	.print-hidden {
		display: none !important;
	}

	h2 > font {
		margin: 10px 0 0 0;
		font-size: 14px;
	}
}

@media screen {
	.screen-hidden {
		display: none !important;
	}
}