<head>
	<link rel="stylesheet" href="/css/settings.css" type="text/css">
	<link rel="stylesheet" href="/css/buttons.css" type="text/css">
	<script type='text/javascript' src='/js/lib/jquery.js'></script>
	<script type='text/javascript' src='/js/settings.js'></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
	<h1>Настройки</h1>

	<div>
		<h2>Таймер</h2>

		<div>
			<a href="" class="button" id="open_timer">Открыть таймер</a>

			<label>
				<input type="checkbox" name="timer_auto_open"/>
				Открывать таймер при запуске браузера
			</label>

			<label>
				<input type="checkbox" name="timer_task_auto_start"/>
				Запускать отслеживание времени сразу после добавления задачи
			</label>
		</div>

		<h2>Скрытие комментариев</h2>

		<div>
			Дедлайн задачи изменен:<br/>
			<select name="hide_comments_deadline_changed">
				<option value="none">Не скрывать</option>
				<option value="all">Скрывать все</option>
				<option value="except-last">Все, кроме последнего</option>
			</select>
		</div>

		<h2>Прочее</h2>

		<div>
			<label>
				<input type="checkbox" name="hide_ya" value="hide"/>
				Скрывать все "Я -"
			</label>
			<label>
				<input type="checkbox" name="hide_small_panels" value="hide"/>
				Скрывать панельки с сортировкой
			</label>
			<label>
				<input type="checkbox" name="hide_last_comments" value="hide"/>
				Скрывать панель с последними комментариями
			</label>
		</div>
	</div>
</body>
