<head>
	<link rel="stylesheet" href="/css/standup.css" type="text/css">
	<link rel="stylesheet" href="/css/trash.css" type="text/css">
	<link rel="stylesheet" href="/css/standup-print.css" type="text/css" media="print">
	<script type='text/javascript' src='/js/lib/jquery.js'></script>
	<script type='text/javascript' src='/js/lib/jquery-ui.js'></script>
	<script type='text/javascript' src='/js/standup_window.js'></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
	<h1>StandUp – <span class="date"></span> – <span class="username">Username</span></h1>

	<div class="tasks filled">
	</div>

	<div class="tasks empty">
	</div>

	<button class="print">Печать</button>

	<div class="task filled template">
		<div class="cont">
			<div class="left">
				<div class="square"></div>
				<div class="line"></div>
			</div>

			<button class="trash custom-appearance" title="Удалить из списка">
				<span class="lid"></span>
				<span class="can"></span>
			</button>

			<h3>
				#<span class="id"></span>: <span class="title"></span>
			</h3>
			<span class="project"></span><br/>
			<span class="estimation"></span>

			<div class="clear"></div>
		</div>
	</div>

	<div class="task empty template">
		<div class="cont">
			<div class="left">
				<div class="square"></div>
				<div class="line"></div>
			</div>

			<h3>
				<div class="line"></div>
				<div class="line"></div>
			</h3>

			<div class="clear"></div>
		</div>
	</div>
</body>
