<!DOCTYPE html>
<html>
<head>
	<title>Timer - Tracker-helper</title>
	<link rel="shortcut icon" href="/img/timer.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/timer/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/css/timer/main.css"/>
	<script type="text/javascript" src="/js/lib/angular.js"></script>
	<script type="text/javascript" src="/js/lib/jquery.js"></script>
	<script type="text/javascript" src="/js/lib/webtoolkit.sprintf.js"></script>
	<script type="text/javascript" src="/js/timer/main.js"></script>
	<script type="text/javascript" src="/js/timer/app.js"></script>
	<script type="text/javascript" src="/js/timer/filters.js"></script>
	<script type="text/javascript" src="/js/timer/controllers/tasks.js"></script>
</head>
<body ng-app="Timer" ng-csp ng-controller="TasksController">
	<header>
		<div id="clock" ng-class="activeTask && 'active'">
			<div class="current"><span class="min">{{ time | minutes }}</span>.<span class="sec">{{ time | seconds }}</span></div>
			<div class="total">total <span class="min">{{ activeTask.time | minutes }}</span>.<span class="sec">{{ activeTask.time | seconds }}</span></div>
		</div>
	</header>

	<section>
		<div>
			<h2>List of tasks</h2>

			<div class="task" ng-repeat="task in tasks" ng-class="[activeTask.id == task.id && 'active', hasTime(task) && 'has-time']">
				<div class="info">
					<div ng-show="hasTime(task)">
						<span class="time">{{ task.time | hours }}</span> <span class="hours">h.</span>
						<a href="" class="noted" title="mark as written" ng-click="noteTaskTime(task)">&check;</a>
					</div>
					<a href="" class="delete" title="delete" ng-click="removeTask(task)">&cross;</a>
				</div>
				<div class="title" ng-click="toggleTask(task.id)">
					<span ng-show="task.taskId">
						<a href="" class="task-id" title="open in tracker" ng-click="gotoTracker(task, $event)">#{{ task.taskId }}</a>
						→
					</span>
					{{ task.name }}
				</div>
			</div>
		</div>

		<div id="new-task">
			<input placeholder="New Task" ng-model="newTask.title" ng-keyup="newTask.keyup($event)"/>
		</div>

		<div id="archive-cont">
			<h2>Archive</h2>

			<div class="day-cont" ng-repeat="(day, tasks) in archive">
				<div class="date">{{ day }}</div>

				<div class="tasks-cont">
					<div class="task" ng-repeat="task in tasks">
						<div class="info">
							<a href="" class="restore" title="restore" ng-click="restoreTask(task, day)">&circlearrowleft;</a>
						</div>
						<div class="title">{{ task.name }}</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
