body {

}

header {
	height: 50px;
	padding: 5px;
}

section {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

section>div:first-child>h2 {
	margin-top: 0;
}
