* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
}
BODY {
	font: normal 14px serif;
	color: #2d3b4e;
	padding: 0 0 4px;
}

A {
	text-decoration: none;
	border-bottom: 1px dashed #2d3b4e;
	display: inline-block;
	color: #06c;
	font: bold 11px verdana;
	letter-spacing: -1px;
}
A:HOVER {
	border-bottom-style: solid;
}

HEADER {
	background: -webkit-gradient(linear, left top, left bottom, from(#cce6ff), to(#fff)); 
}
H1 {
	margin: 1px 4px 10px;
	font: normal 10px verdana;
/*	color: #06c;*/
}
H2 {
	margin: 10px 4px 5px;
	font: normal 12px verdana;
/*	color: #06c;*/
}

INPUT {
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 2px 4px;
}

::-webkit-input-placeholder {
	font-size: 12px;
	font-style: italic;
}

.template, .hidden {
	display: none;
}

#clock {
	padding: 2px;
	height: 36px;
	border: 1px solid #b42a00;
	background: #ffcebf;
	position: relative;
	transition: background 0.3s;
}
#clock.active {
	border-color: #2ab400;
	background: #ccffbf;
}

#clock .current {
	float: right;
	font: bold 14px arial;
	line-height: 28px;
}
#clock .current .min {
	font-size: 32px;
	letter-spacing: -1px;
}

#clock .total {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 4px 2px 2px 2px;
	background: #ff8d6f;
	font: normal 10px arial;
	line-height: 11px;
	transition: background 0.2s;
}
#clock.active .total {
	background: #8eff6f;
}
#clock .total SPAN {
	font-size: 11px;
	font-weight: bold;
}
#clock .total .min {
	font-size: 16px;
}

.task {
	border-bottom: 1px solid #ccc;
	color: #06c;
	font: bold 11px verdana;
	letter-spacing: -1px;
}

.task.has-time .title {
	background: #f5eaea;
}

.task .title {
	padding: 4px 6px;
	cursor: pointer;
	transition: background 0.2s, font-size 0.1s;
}
.task.active .title {
	background: #daffcd;
	font-size: 14px;
}
.task:hover .title {
	background: #ffb;
}
.task.active:hover .title {
	background: #f88;
}

.task .info {
	float: right;
	font-size: 13px;
	font-weight: normal;
	padding: 0 2px 0 5px;
	text-align: right;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 0 0 0 6px;
	position: absolute;
	right: 0;
	height: 0;
	overflow: hidden;
	transition: height 0.2s ease-in;
}
.task:HOVER .info {
	height: 18px;
	transition: height 0.2s ease-out;
}
.task .info > div {
	display: inline-block;
}
.task .info .hours {
	font-size: 10px;
}
.task A {
	border: none;
	padding: 2px;
	transition: text-shadow 0.2s
}
.task A:HOVER {
	text-shadow: 0 -1px 3px rgba(0, 255, 255, 0.9);
}

#new-task {
	margin: 4px 2px;
}
#new-task>input {
	width: 100%;
}

#archive-cont .day-cont .date {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

#archive-cont .task {
	border-color: #ddd;
}
#archive-cont .task .title {
	cursor: auto;
	font: normal 11px verdana;
	letter-spacing: -1px;
	color: #666;
	padding: 2px 2px;
}
#archive-cont .task:hover .info {
	height: 17px;
}
#archive-cont .task .info A {
	padding: 0 1px 0 0;
}

a.task-id {
	font-size: inherit;
	padding: 2px 0;
}
a.task-id:hover {
	color: #00d;
	text-shadow: none;
}
