.timer-task {
	box-sizing: border-box;
	font-size: 10px;
	padding: 10px 5px;
	position: fixed;
	left: 0;
	top: 300px;
	width: 10px;
	height: 30px;
	border-top-right-radius: 10px 20px;
	border-bottom-right-radius: 10px 20px;
	background: rgba(240, 240, 255, 0.8);
	box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	overflow: hidden;
	transition: background 0.2s, width 0.2s;
}

.timer-task > * {
	opacity: 0;
	transition: opacity 0.1s;
}

.timer-task.active {
	background: rgba(149, 255, 179, 0.8);
}

.timer-task.active,
.timer-task.visible,
.timer-task:hover {
	width: 42px;
}

.timer-task.active > *,
.timer-task.visible > *,
.timer-task:hover > * {
	opacity: 1;
	transition: opacity 0.1s 0.2s;
}
